@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Varela+Round&display=swap');

:root {
  --primary-color: #F67C2A;
  --secondary-color: #1D78F5;
  --gradient-begin-color: #F78E31;
  --gradient-end-color: #F8511B;
  --dark-color: #231F20;
  --light-color: #A2A7B2;
  --success-color: #36F594;
  --error-color: #F8511B;
  --rakkoon-gradient: linear-gradient(to right, var(--gradient-begin-color) 0%, var(--gradient-end-color) 70%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0.7em 0;
  font-family: 'Varela Round'
}
p {
  margin: 10px 0;
}

img {
  width: 100%;
}


.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */
.navbar {
  background: var(--rakkoon-gradient);
  color: #fff;
  height: 100px;
}

.navbar img {
  width: auto;
  margin-right: 1em;
  max-height: 70px;
}

.navbar .flex {
  justify-content: flex-start;
  padding: 1em;
}

.navbar a {
  color: #fff;
}

/* Showcase */
.showcase {
  background: var(--rakkoon-gradient);
  color: #fff;
}

.showcase .container {
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.showcase .store-badges img {
  height: 100%;
  max-height: 50px;
  width: auto;
  margin: 2em;
}

.showcase-text {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideInFromLeft 1s ease-in;
}

.showcase .rakkoon-logo {
  max-width: 200px;
  margin: auto;
}

.showcase-phone {
  margin: auto;
}

.showcase-phone img {
  max-height: 500px;
  animation: slideInFromRight 1s ease-in;
}



/* Stats */
.stats {
  padding-top: 3em;
  animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

.privacy-policy {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}


/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}


/* Tablets and under */
@media (max-width: 860px) {
  .showcase-text {
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: auto;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .showcase-text {
    margin-bottom: 3em;
  }

  .showcase .store-badges {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .showcase .store-badges img {
    margin: 0;
  }
}
